<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
<body>
    
    
    <div class="main-content">
      {{>header}}
      <div class="cv-content">
        <div class="introduction-container" >
          <img class="portrait" src="./img/IMG-20210531-WA0021.jpg" />
        <h2>
          Kyle Weidenmann
        </h2>
        <p>
          Google Workspace Administrator & Junior Developer.
        </p>
        </div>
        <div class="education-container"id="container">
          <b><u>Education:</u></b><br>
          <div class="tooltip">* University of Pretoria
            <span class="tooltiptext">
              Technical drawing<br>
              Computer programming (C# &amp; C++)<br>
              Academic literacy<br>
              Education phycology</span></div><br>
           <div class="tooltip">* Unisa<span class="tooltiptext">
            Geography<br>
            Being a professional Teacher<br>
            Computer science 1<br>
            Learning Management Systems<br>
            Business Information systems<br>
           </span></div><br>
           <div class="tooltip">* Unicollege<span class="tooltiptext">
            Comptia A+ (2019)
            Network Administrator (2019)
           </span></div><br>       
           <div class="tooltip">* Kryterion<span class="tooltiptext">
            Google Workspace Administrator (2020 - 2024) - Previously: Google Professional Collaboration Engineer
           </span></div><br>      
           <div class="tooltip">* Udemy<span class="tooltiptext">
            The Complete JavaScript Course 2023: From Zero to Expert!
            The Complete SQL Bootcamp 2022: Go from Zero to Hero
            The Complete Node.js Developer Course (3rd Edition)
           </span></div><br>
           
        </div>
        <div class="work-experience-container"id="container">
          <b><u>Work Experience:</u></b><br>
          Wika Instruments (PTY) Ltd:<br>
          <div class="tooltip">Duration
            <span class="tooltiptext">
              December 2016 - January 2017<br>
              December 2017 - January 2018<br>
              November 2018 - August 2019<br>
            </span></div><br>
          <div class="tooltip">Duties
            <span class="tooltiptext">
              Assembling of pressure gauges.<br>
              Tungsten inert gas welding.<br>
              Basic fitting and turning.<br>
              Laser marking.<br>
              Assembling of thermocouples.<br>
              Assembling of resistant temperature detectors.<br>
              General factory admin.<br>
              Calibration of mechanical pressure gauges.<br>
              Assembling of bi-metallic thermometers.<br>
            </span></div><br>
            Opennetworks (PTY) Ltd:<br>
          <div class="tooltip">Duration
            <span class="tooltiptext">
              October 2019 - Current
            </span></div><br>
          <div class="tooltip">Duties
            <span class="tooltiptext">
              Providing clients with Support related matters.<br>
              Maintaining Support systems<br>
              Developing functions for Google Workspace systems (App Scripting)<br>
              Developing functions and Applications for inhouse use<br>
            </span></div><br>
        </div>
        <div class="skills-container">
          <div class="computer-skills"id="container">
            <p>
              <b><u>I have a good working knowledge of the following:</u></b><br>
               * Microsoft: Outlook, PowerPoint, Word, Excel (Basic)<br>
               * Google: Mail, Slides, Docs, Sheets, and other Google Workspace products<br>
               * Freshdesk servises
               <div class="tooltip">* Programming Languages:<span class="tooltiptext">Javascript, SQL, Node.JS, Appscript</span></div>
               
            </p>
          </div>
          <div class="attributes"id="container">
            <p>
              <b><U>Attributes:</U></b><br>
                My hard working, organized, dependable, sociable, openness, and highly motivated qualities
                are attributes to my ability to associate well with people of different cultures, beliefs, and
                personalities.
            </p>
          </div>
        </div>
      </div>{{>footer}}
    </div>
    

   </body>
</html>